.tbl 
{
	background: green; 	
	border: 1px white solid;
}

.tbl td, .tbl th 
{
	border: 1px white solid; 
	width: 100px; 
	text-align: center;
}

.odd 
{
    background: darkgreen;
}

.even 
{
    background: green; 
}

.content 
{
	display: contents;
	color: white;
}

header 
{
	color: blue;
}

footer 
{
	color: red;
}