.tbl 
{
	border: 1px white solid;
}
.tbl td, .tbl th 
{
	border: 1px white solid; 
	width: 100px; 
	text-align: center;
}
.table 
{
	background: green; 
	color: white;
}
header 
{
	color: blue;
}
footer 
{
	color: red;
}